{% extends 'blog/base.html' %}

{% block content %}
    {% for post in page.object_list %}
        <div class="post">
            <div class="date">
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
            {% if post.foto %}
                <p><img class="img-article-left thumb" src="{{post.foto.url}}"></p>
            {% endif %}

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr|truncatewords:70 }}</p>
        </div>
    {% endfor %}
{% endblock %}
{##}