{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_new' %}">
            <span class="glyphicon glyphicon-plus"></span></a>
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <div class="comment">
        {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ comment_form.content }}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        {% else %}
            <div class="comment">
                <h4><a href="{% url 'login' %}">Авторизуйтесь</a> или <a href="{% url 'signup' %}">зарегистрируйтесь</a>
                    чтобы оставить комментарий</h4>
            </div>
        {% endif %}

        {% if comments %}
            {% for comment in comments %}
                <h4>{{ comment.user }} {{ ' | ' }} {{ comment.created_date }}</h4>
                {{ comment.content }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}