{% extends 'blog/base.html' %}

{% block content %}
    {% for post in page_obj.object_list %}
        <div class="post">
            <div class="date">
                <p>Опубликовано: {{ post.published_date }}</p>
            </div>
            {% if request.user.pk %}
                <a class="btn btn-default" href="{% url 'post_new' %}">
                    <span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
                <a class="btn btn-default" href="{% url 'post_detail' pk=post.pk %}">
                    <span class="glyphicon glyphicon-comment"></span>
                </a>
            {% endif %}
            {% if post.foto %}
                <p><img class="img-article-left thumb" src="{{ post.foto.url }}"></p>
            {% endif %}

            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr|truncatewords:70 }}</p>
        </div>
    {% endfor %}
{% endblock %}
