body {
    min-height: 100vh;
    background-image: url("../png/house.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-header {
    width: 100%;
    height: 100%;
    margin-top: 0;
    border: none;
}

.login {
    background-color: #f5e460;
    color: #f80339;
    font-size: 15pt;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #f80339;
    font-size: 36pt;
    text-decoration: none;
    border: none;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #f80339;
    font-size: 25pt;
    text-decoration: none;
}

.content {
    min-height: 220vh;
    background-color: #ffffff;
    margin-left: 40px;
    font-size: 15pt;
    width: 1000px;
    height: auto;
}

/*!* Содержимое страницы. Значение свойства margin-left должно совпадать со значением свойства width боковой панели *!*/
div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'academy engraved let', cursive;
}

.save {
    font-size: 60pt;
    size: auto;
    float: left;
    text-align: center;
    height: 80px;
    width: 100px;
}

.post-form textarea, .post-form input {
    width: auto;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #f80339;
    float: right;
    font-size: 30pt;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
    height: 80px;
    width: 80px;
}

.comment {
    margin-bottom: 70px;
}

.comment h4 {
    color: #f80339;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #f80339;
}

img {
    max-width: 600px;
    height: auto;
}

img.img-article-left {
    max-width: 300px;
    height: auto;
    float: left;
    padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
    max-width: 150px;
    height: auto;
}

.dropdown:hover .dropdown-menu {
    color: #ffffff;
    background-color: #fc0580;
    display: block;
}

.box {
    display: flex;
    align-content: center;
    margin-top: 0;
    padding: 30px 30px 45px 40px;
    justify-content: space-around;
}

/* боковая панель для меню */
/* Боковое меню навигации */
.sidebar {
    font-family: 'academy engraved let', cursive;
    font-size: 30pt;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 190px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

/* Боковой панели ссылок */
.sidebar a {
    display: block;
    color: #f80339;
    padding: 16px;
    text-decoration: none;
}

/* Активная/текущая ссылка */
.sidebar a.active {
    background-color: #f5e460;
    color: white;
}

/* Ссылки на мышь-над */
.sidebar a:hover:not(.active) {
    background-color: #f5e460;
    color: white;
}

/* На экранах, которые меньше 700px в ширину, сделать боковую панель в верхней панели */
@media screen and (max-width: 1700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }
}

/* На экранах размером менее 400 пикселей панель отображается вертикально, а не горизонтально */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

.list-pages {
    text-align: center;
    margin: 0 0 20px 0;
}

.list-pages ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}

.list-pages a {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}

.list-pages ul li {
    background-color: #f80339;
    display: inline-block;
    margin: 0 20px 0 0;
}

.list-pages .page-num, .page-num-selected {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 10px 0 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
}

.list-pages .page-num:hover {
    box-shadow: 3px 3px 1px #d0d0d0;
}

.list-pages .page-num-selected {
    border: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    background: none;
}

.list-pages .page-num-selected:hover {
    box-shadow: none;
}